.Header-login {
  height: 70px; }
  .Header-login .box-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto; }
    .Header-login .box-login .Logo-login {
      height: 60px;
      padding-left: 0px;
      padding-right: 0px;
      float: left; }
    .Header-login .box-login .Header-img-login {
      height: 60px;
      width: 60px;
      float: left; }
      .Header-login .box-login .Header-img-login img {
        height: 60px;
        width: 60px; }

.background {
  background-color: #8bc34a;
  min-height: 100vh; }

.Login-Card {
  background-color: #fff !important;
  margin-top: 60px;
  padding-bottom: 15px; }
  .Login-Card .input-field i {
    width: 30px !important;
    margin-top: 3px;
    color: #8bc34a; }
  .Login-Card .input-field .inputParams {
    margin-left: 2.5rem !important;
    width: calc(100% - 2.5rem);
    margin-bottom: 0px;
    background-color: #f5f8fa;
    height: 2.5rem;
    border: none !important; }
  .Login-Card .Login-Remember {
    margin-top: .4em !important; }
  .Login-Card .Login-Forgot a {
    font-size: 1em;
    float: right;
    padding: 0;
    text-transform: capitalize;
    text-decoration: underline;
    color: #8bc34a; }
  .Login-Card .Login-Button {
    margin-top: 2em; }
    .Login-Card .Login-Button input {
      padding: 0 5em;
      background-color: #8bc34a;
      width: 100%;
      border-radius: 30px;
      height: 42px; }
    .Login-Card .Login-Button input:hover {
      color: #fff; }

.Login-Logo {
  position: absolute;
  top: 0%;
  right: 0;
  left: 0; }
  .Login-Logo img {
    height: 100px;
    width: 100px; }

.SignUpContainer {
  margin-top: 1em; }
  .SignUpContainer span {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px; }

.SignUp {
  margin-top: 1em;
  border-top: 1px solid #e0e0e0; }
  .SignUp .SignUp-Button {
    margin-top: 10px;
    color: #424242;
    text-transform: capitalize;
    font-size: 1.3em;
    text-decoration: none; }
