.Perfil-Container {
  padding: 0px;
  margin: 40px 0; }
  .Perfil-Container .User-Edit {
    background-color: #24292e;
    height: 130px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24), 0px 0px 2px 0px rgba(0, 0, 0, 0.12); }
  .Perfil-Container .upload-icon {
    position: absolute;
    top: 147px;
    background-color: transparent;
    border: none;
    height: auto;
    width: auto;
    color: #fff;
    left: -5px;
    top: 10px; }
    .Perfil-Container .upload-icon i {
      font-size: 27px; }
  .Perfil-Container .User-Edit-img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 120px;
    height: 120px; }
    .Perfil-Container .User-Edit-img img {
      height: 120px;
      width: 120px;
      border-radius: 50%; }
    .Perfil-Container .User-Edit-img .user-img-skeleton {
      height: 120px;
      width: 120px;
      border-radius: 50%; }
  .Perfil-Container .User-Edit-Tittle {
    padding: 0px;
    display: inherit;
    background-color: #fafafa;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24), 0px 0px 2px 0px rgba(0, 0, 0, 0.12); }
    .Perfil-Container .User-Edit-Tittle h1 {
      color: #8bc34a;
      font-size: 26px;
      margin: 10px 10px;
      margin-left: auto;
      margin-right: auto; }
  .Perfil-Container .Tittle-Element {
    border-bottom: 1px solid #efefef;
    margin-left: auto;
    margin-right: auto; }
    .Perfil-Container .Tittle-Element h4 {
      font-size: 18px;
      margin: 10px 0 10px; }
  .Perfil-Container .User-Info {
    display: inherit;
    padding: 0px;
    background-color: #fafafa;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24), 0px 0px 2px 0px rgba(0, 0, 0, 0.12); }
    .Perfil-Container .User-Info .User-Info-Datos {
      border-right: 1px solid #efefef;
      padding: 0px;
      margin: 0; }
    .Perfil-Container .User-Info .User-Info-Turnos {
      display: inline-block; }
    .Perfil-Container .User-Info .perfil-no-turnos {
      top: 20%;
      background-color: #fafafa;
      border-radius: 50%;
      position: relative; }
      .Perfil-Container .User-Info .perfil-no-turnos i {
        position: relative;
        font-size: 100px;
        color: rgba(151, 151, 151, 0.5); }
      .Perfil-Container .User-Info .perfil-no-turnos h3 {
        position: relative;
        color: rgba(151, 151, 151, 0.5) !important;
        font-size: 30px !important; }
    .Perfil-Container .User-Info .User-element {
      padding: 20px 20px 20px 10px; }
      .Perfil-Container .User-Info .User-element strong {
        margin-left: 30px;
        float: left;
        width: auto;
        height: auto; }
      .Perfil-Container .User-Info .User-element p {
        margin-left: 10px; }
      .Perfil-Container .User-Info .User-element span {
        width: auto;
        height: auto;
        float: left; }
      .Perfil-Container .User-Info .User-element .User-element-EditableText {
        width: 100%; }
    .Perfil-Container .User-Info .Turno-element {
      padding: 20px 0 20px 0;
      display: flex;
      border-bottom: 1px solid #efefef; }
      .Perfil-Container .User-Info .Turno-element strong {
        margin-left: 15px;
        float: left;
        width: auto;
        height: auto;
        font-size: 10px; }
      .Perfil-Container .User-Info .Turno-element span {
        margin-left: 5px;
        width: auto;
        height: auto;
        float: left;
        font-size: 10px; }

.Popover-Avatar .submit-name {
  text-overflow: ellipsis;
  white-space: nowrap; }

.Popover-Avatar .submit-file {
  width: 100%;
  margin-top: 5px; }
