.AnuncioNuevo {
  padding: 1em; }

.AnuncioNuevo-Image {
  padding: 0;
  margin-right: 10px;
  height: 70px;
  width: 70px; }
  .AnuncioNuevo-Image img {
    float: left;
    height: 70px;
    width: 70px; }

.AnuncioNuevo-Form {
  padding: 0; }
  .AnuncioNuevo-Form .col-lg-12 {
    padding: 0; }
  .AnuncioNuevo-Form .AnuncioNuevo-Text {
    border: 1px solid rgba(151, 151, 151, 0.5);
    background-color: #fff;
    resize: none;
    font-family: 'Varela Rou';
    font-size: 1.4em;
    padding: 1rem 1rem;
    height: 70px;
    min-height: 70px;
    box-sizing: border-box;
    color: #595959;
    font-weight: 250; }
  .AnuncioNuevo-Form .AnuncioNuevo-Btn {
    float: right;
    background: #8bc34a;
    padding: 0 3rem;
    text-transform: capitalize;
    font-weight: 500;
    height: 3rem;
    font-size: 1em; }
