@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
  font-size: 2em; }

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px; }

.sub-layout {
  display: flex; }
  .sub-layout .primary-content {
    margin: 2em 1em 1em 1em;
    width: 100%; }
    .sub-layout .primary-content .react-datepicker__input-container input {
      padding: 0 5px; }
    .sub-layout .primary-content .react-datepicker__time-list {
      padding: 0px !important; }
  .sub-layout .Panel-container {
    width: 230px;
    height: 100%;
    border-top: 1px solid #000; }
  .sub-layout .main-menu {
    vertical-align: top;
    background: #24292e;
    border-right: 1px solid #000;
    border-top: rgba(255, 255, 255, 0.05);
    height: 100vh;
    width: 100%;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1, 1); }
    .sub-layout .main-menu ul {
      display: table-cell;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
    .sub-layout .main-menu li {
      position: relative;
      display: block;
      width: 229px;
      border-top: 1px solid rgba(255, 255, 255, 0.05);
      border-bottom: 1px solid #000; }
    .sub-layout .main-menu .navLinkSub {
      position: relative;
      width: 100%;
      display: table;
      border-collapse: collapse;
      border-spacing: 0;
      color: #999;
      font-family: arial;
      font-size: 14px;
      text-decoration: none;
      -webkit-transform: translateZ(0) scale(1, 1);
      -webkit-transition: all .1s linear;
      transition: all .1s linear; }
    .sub-layout .main-menu .navLinkSub::before {
      background-color: transparent;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      width: 5px; }
    .sub-layout .main-menu .navLinkSub:hover, .sub-layout .main-menu .navLinkSub:focus {
      text-decoration: none; }
    .sub-layout .main-menu .navLinkSubActive, .sub-layout .main-menu .navLinkSub:hover {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.2); }
    .sub-layout .main-menu .navLinkSubActive::before, .sub-layout .main-menu .navLinkSub:hover::before {
      background-color: #8bc34a; }
    .sub-layout .main-menu .nav-icon {
      position: relative;
      display: table-cell;
      width: 60px;
      height: 36px;
      text-align: center;
      vertical-align: middle;
      font-size: 24px;
      padding: 10px 20px 10px 40px !important; }
    .sub-layout .main-menu .nav-text {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      font-size: 14px;
      font-weight: 500; }

.no-touch .scrollable.hover {
  overflow-y: hidden; }

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible; }

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  nav ul {
    outline: 0;
    margin: 0;
    padding: 0; }
  nav li {
    outline: 0;
    margin: 0;
    padding: 0; }
    nav li a {
      color: #c1c3c6; }

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%; }

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format("woff"); }
