.error-container {
  text-align: center;
  font-size: 180px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 20px 15px;
  background-color: #fafafa; }
  .error-container .circle-container {
    height: 380px;
    width: 380px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10px; }
    .error-container .circle-container .errorStyles {
      padding-top: 25px;
      padding-right: 14px; }
    .error-container .circle-container .errorStyles > h2 {
      color: rgba(151, 151, 151, 0.5) !important;
      font-size: 32px; }
    .error-container .circle-container .errorStyles > span {
      display: inline-block;
      line-height: 0.7;
      position: relative;
      color: #FFB485; }
    .error-container .circle-container .errorStyles > span > span {
      display: inline-block;
      position: relative; }
    .error-container .circle-container .errorStyles > span:nth-of-type(1) {
      perspective: 1000px;
      perspective-origin: 500% 50%;
      color: #F0E395; }
    .error-container .circle-container .errorStyles > span:nth-of-type(1) > span {
      transform-origin: 50% 100% 0px;
      transform: rotateX(0);
      animation: easyoutelastic 8s infinite; }
    .error-container .circle-container .errorStyles > span:nth-of-type(3) {
      perspective: none;
      perspective-origin: 50% 50%;
      color: #D15C95; }
    .error-container .circle-container .errorStyles > span:nth-of-type(3) > span {
      transform-origin: 100% 100% 0px;
      transform: rotate(0deg);
      animation: rotatedrop 8s infinite; }

@keyframes easyoutelastic {
  0% {
    transform: rotateX(0); }
  9% {
    transform: rotateX(210deg); }
  13% {
    transform: rotateX(150deg); }
  16% {
    transform: rotateX(200deg); }
  18% {
    transform: rotateX(170deg); }
  20% {
    transform: rotateX(180deg); }
  60% {
    transform: rotateX(180deg); }
  80% {
    transform: rotateX(0); }
  100% {
    transform: rotateX(0); } }

@keyframes rotatedrop {
  0% {
    transform: rotate(0); }
  10% {
    transform: rotate(30deg); }
  15% {
    transform: rotate(90deg); }
  70% {
    transform: rotate(90deg); }
  80% {
    transform: rotate(0); }
  100% {
    transform: rotateX(0); } }
